<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include("../components/TopNav.html") %>

    <div class="container p-3">
      <ul class="list-group">
        <% for(const task of tasks) { %>
        <li class="list-group-item">
          <button
            type="button"
            class="close position-absolute"
            style="right: 1rem; top: 50%; transform: translateY(-50%)"
            data-id="<%= task._id %>"
          >
            X
          </button>
          <p class="h5"><%= task.name %></p>
          <%= task.dueDate %>까지
        </li>
        <% } %>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
      $("button.close").click((e) => {
        $.ajax({
          method: "DELETE",
          url: `/api/tasks/${e.currentTarget.dataset.id}`,
        })
          .done((response) => {
            if (response) $(e.currentTarget).parent("li").remove();
            else alert("항목이 존재하지 않거나 이미 삭제되었습니다");
          })
          .fail(() => alert("삭제하지 못했습니다"));
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
