<div class="p-2 d-inline-block" style="width: fit-content">
	<div
		class="rounded-circle d-inline-block"
		style="width: 1.5em; aspect-ratio: 1"
	>
		<img width="100%" src="<%= user.profileImage || "/public/profile.jpg" %>" />
	</div>
	<span class="mb-0" style="align-self: center"><%= user.name %></span>
</div>
